[submodule "third_party/minecraft-forge-template-1.16.5"]
	path = third_party/minecraft-forge-template-1.16.5
	url = https://github.com/MarkusBordihn/minecraft-forge-template.git
	branch = 1.16.5
	ignore = dirty

[submodule "third_party/minecraft-forge-template-1.17.1"]
	path = third_party/minecraft-forge-template-1.17.1
	url = https://github.com/MarkusBordihn/minecraft-forge-template
	branch = 1.17.1
	ignore = dirty

[submodule "third_party/minecraft-forge-template-1.18"]
	path = third_party/minecraft-forge-template-1.18
	url = https://github.com/MarkusBordihn/minecraft-forge-template
	branch = 1.18
	ignore = dirty

[submodule "third_party/minecraft-forge-template-1.18.1"]
	path = third_party/minecraft-forge-template-1.18.1
	url = https://github.com/MarkusBordihn/minecraft-forge-template.git
	branch = 1.18.1
	ignore = dirty

[submodule "third_party/minecraft-forge-template-1.18.2"]
	path = third_party/minecraft-forge-template-1.18.2
	url = https://github.com/MarkusBordihn/minecraft-forge-template.git
	branch = 1.18.2

[submodule "third_party/minecraft-forge-template-1.19.2"]
	path = third_party/minecraft-forge-template-1.19.2
	url = https://github.com/MarkusBordihn/minecraft-forge-template
	branch = 1.19.2
